# React Native Expo .gitignore

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
expo-env.d.ts

# Native build files
build/
ios/Pods/
android/.gradle
android/app/build

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Testing
coverage/
__tests__/coverage/

# Bundle artifacts
*.jsbundle
*.bundle
*.bundle.map

# Ruby / CocoaPods
/vendor/bundle/

# Temporary files created by Metro
.metro-health-check*
.metro

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# Local Netlify folder
.netlify

scripts/host-ip.txt